@media only screen and (min-width: 1000px){
    header {
        display: flex;
        justify-content: space-around;  
    }
    
    main {
        padding: 1rem 5.5rem;
    }
    
    h1 {
        font-size: 44.5px;
    }
    
    #smtitle {
        font-size: 21px;
    }
    
     /*------Bigger title in fullscreen------*/   
    @media only screen and (min-width: 1200px){
    h1 {
        font-size: 54px;
    }
    #smtitle {
        font-size: 25.5px;
    }   
    }
    
    /* navigation bar */
    #menuButton { 
        display: none;
    }
    
    .social {
        order: 2;    
    }
    
        
    nav ul#mainNav {
        display:flex;
        order: 3;
        border-top: 2px solid rgba(0, 0, 0, 0.3);
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    }
    
    #mainNav {
        background: none;
        border: none;
    }
    
    nav ul li a {
        font-size: 1.1rem;
        border: none;
        padding: .7rem 1.5rem;
    }
        
     /* main grid layout */
    .boxes {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.8rem;
    }
        
    .hero {
        grid-row: 1/3;
        grid-column: 2/4;
    }
        
    .event {
        grid-row: 1/2;
    }
        
    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }
        
    .news {
        grid-column: 2/4;
        grid-row: 3/4;
    }
        
    .join {
        grid-column: 1/2;
        grid-row: 3/4;
    }
        
    .spotlight {
        grid-column: 4/5;
        grid-row: 1/4;
        grid-template-columns: 1fr;
    }  
        
    .spotlight div:nth-child(3) {
        display: block;
    }
    }