* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(68, 199, 231);
}

div{
	display: flex;
	flex-direction: column;
    align-items: center;
}

h1{
	text-align: center;
	margin: 2em auto;	
}

img[data-src] {
	filter: blur(.6em);
}

img{
	filter: blur(0);
	transition: filter .6s;
    margin: 10px;
    border: 10px double black;
    box-shadow: 10px 10px 10px rgb(46, 48, 43);
}