/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    max-width: 80rem;
    margin:auto;
    background-color: #FFFDAC;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1102%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1103)'%3e%3c/rect%3e%3cpath d='M1207.84 102.3a22.72 22.72 0 1 0-44.79-7.7z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M30.74 118.3a52.7 52.7 0 1 0-46.63-94.53z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M868.34 484.77L897.48 484.77L897.48 510.82L868.34 510.82z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M64.17 510.54 a25.2 25.2 0 1 0 50.4 0 a25.2 25.2 0 1 0 -50.4 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M996.54 428.1 a15.77 15.77 0 1 0 31.54 0 a15.77 15.77 0 1 0 -31.54 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1184.89 120.15 a47.66 47.66 0 1 0 95.32 0 a47.66 47.66 0 1 0 -95.32 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M665.51 192.3L716.72 192.3L716.72 243.51L665.51 243.51z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1161.76 382.59L1162.95 382.59L1162.95 383.78L1161.76 383.78z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1218.75 507.97L1259.55 507.97L1259.55 548.77L1218.75 548.77z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1194.02 221.92a39.83 39.83 0 1 0-77.75-17.34z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M24.79 97.59L52.14 97.59L52.14 124.94L24.79 124.94z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1200.6 8.77a55.18 55.18 0 1 0 108.96-17.52z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M75.82 191.28a55.22 55.22 0 1 0-109.69 12.91z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M513.46 74.66 a4.69 4.69 0 1 0 9.38 0 a4.69 4.69 0 1 0 -9.38 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M460.25 322.69a46.33 46.33 0 1 0 35.27-85.69z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M66.1 258.09 a55.73 55.73 0 1 0 111.46 0 a55.73 55.73 0 1 0 -111.46 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M302.87 500.11a50.09 50.09 0 1 0-64 77.07z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M436.49 515.81a33.6 33.6 0 1 0-62.87 23.73z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1350.57 127.56L1371 127.56L1371 147.99L1350.57 147.99z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M233.69 223.12 a22.68 22.68 0 1 0 45.36 0 a22.68 22.68 0 1 0 -45.36 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M858.97 294.37L881.13 294.37L881.13 328.45L858.97 328.45z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M610.42 490.1L626.71 490.1L626.71 506.39L610.42 506.39z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M316.34 398.28L340.56 398.28L340.56 422.5L316.34 422.5z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1360.36 318.61L1379.33 318.61L1379.33 337.58L1360.36 337.58z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M45.44 101.62a43.31 43.31 0 1 0-61.17 61.33z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M915.41 482.88L949.23 482.88L949.23 516.7L915.41 516.7z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M17.89 362.17L52.56 362.17L52.56 409.34L17.89 409.34z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M353.08 513.76a21.93 21.93 0 1 0 1.27 43.84z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1096.58 350.86a37.03 37.03 0 1 0 61.1 41.86z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M75.46 290.37L97.31 290.37L97.31 312.22L75.46 312.22z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1409.14 297L1428.03 297L1428.03 326.23L1409.14 326.23z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M209.64 9.17 a31.29 31.29 0 1 0 62.58 0 a31.29 31.29 0 1 0 -62.58 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M192.6 371.97 a53.39 53.39 0 1 0 106.78 0 a53.39 53.39 0 1 0 -106.78 0z' fill='%23037b0b'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1102'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='50%25' x2='0%25' y2='50%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1103'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0.02'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0.14'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0.21'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0.38'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0.38'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0.5'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0.75'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0.93'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

body h1, body h2{
    text-shadow: black 0.2em 0.2em 0.5em;
}

/* Header */

#container-header{
    background-color: #1F9422;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1003)'%3e%3c/rect%3e%3cpath d='M261.47 101.64L281.25 101.64L281.25 148.28L261.47 148.28z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M45.39 61.14L60.92 61.14L60.92 76.67L45.39 76.67z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1074.2 354.5L1101.95 354.5L1101.95 358.3L1074.2 358.3z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1170.27 137.87 a46.99 46.99 0 1 0 93.98 0 a46.99 46.99 0 1 0 -93.98 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M121.28 477.75 a46.73 46.73 0 1 0 93.46 0 a46.73 46.73 0 1 0 -93.46 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M234.6 70.23a43.07 43.07 0 1 0-55.61-65.79z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1418.56 57.21a40.85 40.85 0 1 0-55.73-59.74z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M957.42 367.88L983.72 367.88L983.72 377.34L957.42 377.34z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M925.27 69.24 a47.75 47.75 0 1 0 95.5 0 a47.75 47.75 0 1 0 -95.5 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1115.32 146.17 a40.71 40.71 0 1 0 81.42 0 a40.71 40.71 0 1 0 -81.42 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M288.37 518.83L319.12 518.83L319.12 571.44L288.37 571.44z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M67 1.17a53.92 53.92 0 1 0-23.96 105.15z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M9.42 181.21 a23.16 23.16 0 1 0 46.32 0 a23.16 23.16 0 1 0 -46.32 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M904.85 83.75L907.47 83.75L907.47 101.05L904.85 101.05z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M596.48 7.04L627.51 7.04L627.51 38.07L596.48 38.07z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1189.63 460.79a23.33 23.33 0 1 0 46.2-6.56z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M46.92 502a9.69 9.69 0 1 0-15.73 11.31z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M544.3 39.61a38.74 38.74 0 1 0 70.54 32.04z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M906.6 430.63 a47.3 47.3 0 1 0 94.6 0 a47.3 47.3 0 1 0 -94.6 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1143.24 14.63L1158.32 14.63L1158.32 29.71L1143.24 29.71z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M282.82 147.39a24.87 24.87 0 1 0 48.76-9.83z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M326.54 498.78 a19.32 19.32 0 1 0 38.64 0 a19.32 19.32 0 1 0 -38.64 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M567.85 68.49L578.36 68.49L578.36 79L567.85 79z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M705.84 558.59L747.62 558.59L747.62 600.37L705.84 600.37z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M930.53 409.27 a19.66 19.66 0 1 0 39.32 0 a19.66 19.66 0 1 0 -39.32 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M814.22 272.63 a11.91 11.91 0 1 0 23.82 0 a11.91 11.91 0 1 0 -23.82 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M39.35 248.44L87.72 248.44L87.72 296.81L39.35 296.81z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M734.08 394.4a18.89 18.89 0 1 0 24.38 28.87z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1204.14 250.67a44.38 44.38 0 1 0-82.75 32.08z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M604.29 123.29a20.57 20.57 0 1 0-37.77-16.31z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1146.25 436.48L1197.68 436.48L1197.68 487.91L1146.25 487.91z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M711.97 67.33a36 36 0 1 0-50.44 51.37z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M692.21 170.58L699.56 170.58L699.56 194.67L692.21 194.67z' fill='%23037b0b'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1003'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(76%2c 158%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    padding: .5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons{
    font-size: 20px;
    margin: .7rem;
}

.fa-instagram, .fa-twitter, .fa-youtube{
    color: #FFBE2D;
}


nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white ;
    cursor: pointer;
}

nav{
    background-color: transparent;
    margin: 10px;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    border-top: 1px solid white;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    display: none;
}

nav ul.open{
    margin: 10px;
    display: block;
}

#hamburgerBtn span:nth-child(1){
    display: block;
}

#hamburgerBtn span:nth-child(2){
    display: none;
}

#hamburgerBtn.open span:nth-child(1){
    display: none;
}

#hamburgerBtn.open span:nth-child(2){
    display: block;
}

nav ul li a:hover{
    background-color:#f1c870 ;
    color: #1F9422;
    font-weight: bold;
}

/* Footer */
footer{
    background-color:  #1F9422;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1003)'%3e%3c/rect%3e%3cpath d='M261.47 101.64L281.25 101.64L281.25 148.28L261.47 148.28z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M45.39 61.14L60.92 61.14L60.92 76.67L45.39 76.67z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1074.2 354.5L1101.95 354.5L1101.95 358.3L1074.2 358.3z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1170.27 137.87 a46.99 46.99 0 1 0 93.98 0 a46.99 46.99 0 1 0 -93.98 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M121.28 477.75 a46.73 46.73 0 1 0 93.46 0 a46.73 46.73 0 1 0 -93.46 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M234.6 70.23a43.07 43.07 0 1 0-55.61-65.79z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1418.56 57.21a40.85 40.85 0 1 0-55.73-59.74z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M957.42 367.88L983.72 367.88L983.72 377.34L957.42 377.34z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M925.27 69.24 a47.75 47.75 0 1 0 95.5 0 a47.75 47.75 0 1 0 -95.5 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1115.32 146.17 a40.71 40.71 0 1 0 81.42 0 a40.71 40.71 0 1 0 -81.42 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M288.37 518.83L319.12 518.83L319.12 571.44L288.37 571.44z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M67 1.17a53.92 53.92 0 1 0-23.96 105.15z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M9.42 181.21 a23.16 23.16 0 1 0 46.32 0 a23.16 23.16 0 1 0 -46.32 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M904.85 83.75L907.47 83.75L907.47 101.05L904.85 101.05z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M596.48 7.04L627.51 7.04L627.51 38.07L596.48 38.07z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1189.63 460.79a23.33 23.33 0 1 0 46.2-6.56z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M46.92 502a9.69 9.69 0 1 0-15.73 11.31z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M544.3 39.61a38.74 38.74 0 1 0 70.54 32.04z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M906.6 430.63 a47.3 47.3 0 1 0 94.6 0 a47.3 47.3 0 1 0 -94.6 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1143.24 14.63L1158.32 14.63L1158.32 29.71L1143.24 29.71z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M282.82 147.39a24.87 24.87 0 1 0 48.76-9.83z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M326.54 498.78 a19.32 19.32 0 1 0 38.64 0 a19.32 19.32 0 1 0 -38.64 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M567.85 68.49L578.36 68.49L578.36 79L567.85 79z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M705.84 558.59L747.62 558.59L747.62 600.37L705.84 600.37z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M930.53 409.27 a19.66 19.66 0 1 0 39.32 0 a19.66 19.66 0 1 0 -39.32 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M814.22 272.63 a11.91 11.91 0 1 0 23.82 0 a11.91 11.91 0 1 0 -23.82 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M39.35 248.44L87.72 248.44L87.72 296.81L39.35 296.81z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M734.08 394.4a18.89 18.89 0 1 0 24.38 28.87z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1204.14 250.67a44.38 44.38 0 1 0-82.75 32.08z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M604.29 123.29a20.57 20.57 0 1 0-37.77-16.31z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1146.25 436.48L1197.68 436.48L1197.68 487.91L1146.25 487.91z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M711.97 67.33a36 36 0 1 0-50.44 51.37z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M692.21 170.58L699.56 170.58L699.56 194.67L692.21 194.67z' fill='%23037b0b'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1003'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(76%2c 158%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    padding: .5rem;
    display: block;
    text-align: center;
    margin: auto;
    color: rgba(209, 208, 208, 0.863);
    font-family: 'Montserrat', sans-serif;
}

.icons-footer {
    font-size: 40px;
    margin: .5rem;
}
.fa-map-location-dot{
    font-size: 40px;
    margin: .5rem;
    color: #FFBE2D;
}

#container-footer address, .contact-footer{
    padding: .5rem;
    font-size: 1.1rem
}


.baseboard{
    display: block;
    text-align: center;
    background-color:  #1F9422;
    padding: .5rem;
}

.separation{
    display: none;
}


/* Home Page*/

#weather_container{
    display: block;
    text-align: center;
}

#weather_container h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
}

.image img{
    width: 80px;
}

#day1Desc, #day2Desc, #day3Desc{
    text-transform: capitalize;
}

.weather > div{
    margin: .7rem;
    padding: .7rem;
    font-size: 1.3rem;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .4));
}

.weather > div:hover{
    background-color: #D69024;
    color: white;
}

#day1{
    visibility: hidden;
    position: relative;
}

#day1:after{
    visibility: visible;
    position: absolute;
    left: 30%;
    right: 30%;
    text-align: center;
    content: 'Today';
}

.container-info{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-info h1{
    width: 100%;
    padding: .5rem;
    margin: .5rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.box{
    width: 400px;
    height: auto;
    margin: .5rem;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.box:hover{
    background-color: #D69024;
}

.card-header {
    width: 100%;
    height: 250px;
    overflow: hidden;
  }

  .card-header picture img{
    min-width: 100%;
    width: auto;
    height: 100%;
  }

  .card-body {
    height: auto;
    padding: 15px;
    text-align: center;
  }

  .card-title {
    font-size: 2rem;
    margin: .5rem;
  }

  .card-text {
    font-size: 16.5px;
    padding: .5rem;
    text-align: left;
    margin: 0 auto;
  }

.mix form fieldset{
    width: 30%;
}

.mix form fieldset legend{
    font-size: 1.5rem;
}

#fruits_opt{
    width: 400px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-size: 1.3rem;
}



/* About Us Page*/

.history, .visit{
    margin: .5rem;
    padding: .5rem;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.history-text{
    padding: .5rem;
}

.history-text h1, .visit h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;
}

.history-text picture img{
    width: 280px;
    border-radius: 15px;
    margin: .5rem;
}

.history-text p, .visit p{
    font-size: 1rem;
    margin: .5rem;
}

#container-flip{
    width: auto;
    display: block;
}

.face{
    width: 350px;
    height: 320px;
    perspective: 800px;
}

.front img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.back{
    background-color: #D69024;
}

.back p{
    color: white;
    position: absolute;
    top: 50%;
    left: 15%;
    right: 10%;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform:uppercase;
}

.front, .back{
    position: absolute;
    width: 350px;
    height: 100%;
    padding: .5rem;
    border-radius: 10px;
    transition: 900ms;
}

.front{
    z-index: 1;
}

.back{
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}

.face:hover .front{
    transform: rotateY(180deg);
    z-index: 0;
}

.face:hover .back{
    transform: rotateY(0);
    z-index: 1;
}


.visit iframe{
   margin: .5rem;
   width: 90%;
   height: 300px;
   border: none;
   border-radius: 10px;
}

.visit form, .form_fresh form{
    padding: .6rem;
}

.visit form fieldset{
    font-family: 'Montserrat', sans-serif;
    margin: 1.3rem 0;
    padding: .5rem;
    max-width: 90%;
    border: 2px solid #D69024;
    border-radius: 10px;
    
}

.form_fresh form fieldset{
    margin: 2.2rem;
    border: 2px solid #D69024;
    border-radius: 10px;
}

.visit form legend, .form_fresh form legend{
    margin: 0 1rem;
    padding: 0 5.rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.form_fresh form legend{
    color: white;
    font-weight: normal;
}

.visit form label, .form_fresh form label{
    max-width: 95%;
}

.visit form label, .form_fresh form label{
    display: block;
    padding-top: 1rem;
    font-size: 1.3rem;
}



.visit form label input, .visit form label select, textarea, .form_fresh form label input, .form_fresh form label select, .form_fresh form textarea{
    display: block;
    font-size: 1rem;
    border: solid 1px rgba(238, 237, 237, 0.171);
    border-radius: 4px;
    padding: .75rem;
    color: rgb(97, 94, 94);
    background-color: rgba(229, 226, 226, 0.096);
    width: 100%;
    max-width: 40rem;
    font-family: 'Poppins', sans-serif;
}

.form_fresh form textarea{
    background-color: rgba(245, 241, 241, 0.87);
}


.visit form input.submitBtn, .form_fresh form input.btn_form{
    border: none;
    background-color: #0a0a09;
    border-radius: 2rem;
    padding: .75rem 1.5rem;
    margin: .6rem 0 2rem;
    width: 95%;
    max-width: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

.visit form label input:required, .form_fresh form label input:required{
    background-color: rgba(162, 228, 86, 0.747);
}

.visit form label input:required:valid{
    background-color:#c2f8c2b0  ;
}

.visit hr{
    border: 2px solid #dfa043;
    margin: 1rem;
}

.visit p{
    margin: .7rem;
}

.form_fresh form label input:required:valid{
    background-color: #9df79db0;
}

.form_fresh select{
    padding: .6rem;
    margin: .6rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(20, 20, 9, 0.849);
}


#feedback {
    background-color: rgb(255, 205, 139);
    padding: .5em;
    font-family: 'Montserrat', sans-serif;
    background-color: #1F9422;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    display: none;

}






/* Fresh Page*/
.form_fresh{
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/fruits.webp');
    background-position: center;
    background-size: cover;
    height: 150vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}